# Dependency folders (یہ سب سے ضروری ہے)
node_modules/
Backend/node_modules/
frontend/node_modules/

# Environment variables (خفیہ پاس ورڈز)
.env

# Production build folders (عارضی فائلیں)
frontend/build/
dist/

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/